

/*Overall Page components*/
.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 25%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main {
	width: 85%;
	background-color: white;
	padding: 20px;
}


h3.content_sub_title {
	font-size: 1.5em;
	margin: 10px;
}


/*Components for activities*/

.activity {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	line-height: 1.5em;
	background-color: rgba(253, 245, 230, 0.10);
}


.activity-title {
	padding: 15px;
	font-weight: bold;
	background-color: rgba(52, 88, 77, 0.20);
}

.activity-subtitle {
	font-size: 1em;
	font-weight: 400;
	font-style: italic;
	padding-left: 30px;
}

ol.activity-list {
	font-weight: 400;
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 30px;
	margin-right: 15px;
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
	counter-reset: item;
}

.activity-list li {
	counter-increment: item;
	font-weight: 400;
}

	.activity-list li:before {
		content: counters(item ". ") ". ";
		display: inline-block;
	}

.activity-list-unordered {
	list-style-type: circle;
	list-style-position: outside;
	margin-left: 30px;
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
}

.activity-list-unordered-blank {
	list-style-type: none;
	list-style-position: outside;
	margin-left: 10px;
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
}


.activity-list-unordered-arrow {
	list-style-type: none;
	list-style-position: outside;
	margin-left: 10px;
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
	
}

.activity-list-unordered-arrow li:before {
	
	content: "\F138";
	font-family:"bootstrap-icons";
	margin-right: 5px;
	vertical-align:middle;
}

.activity-instructions {
	padding: 10px;
	font-weight: bold;
	margin-left:30px;
	margin-right:15px;
}

.activity-instructions-plain {
	padding-top: 15px;
	font-weight: 400;
}


.activity-section {
	border-top: 1px solid #ddd;
	padding: 5px;
}

.activity-section-introduction{
padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
}

.menu {
	color: #ffffff;
	background: #999999;
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9em;
	line-height: 2.4em;
	letter-spacing: 0.075em;
	padding: 0 0.6em;
	text-decoration: none;
}

	.menu.sub {
		text-transform: capitalize uppercase;
	}

.activity-questions {
	list-style-type: circle;
	list-style-position: outside;
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
	margin-left: 10px;
	font-style: italic;
}


.activity-quote {
	padding: 15px;
}

.activity-image {
	margin: 15px;
}

.activity-video {
	margin: 15px;
}

.activity-video video{
max-width:100%;
vertical-align: bottom;
}


.activity-video-caption{
font-weight:400;
font-size: 80%;
color: rgba(0,0,0,0.8);
}

.activity-image-caption {
	font-size: 80%;
	color: rgba(0,0,0,0.8);
}

.activity-resource-list{
list-style-type: circle;
list-style-position: outside;
padding: 15px;
line-height:1.5em;
}


.blockquote:before {
	position: absolute;
	left: 5%;
	top: 15%;
	content: "“";
	font-size: 500%;
	color: rgba(0,0,0,0.1);
}

/*Custom padding for icons*/
.bi::before {
	padding-right: 0.5em;
}

/*Modal Styling*/
/*div.video {
	display: none;
	position: fixed;
	z-index: 10001;
	padding-top: 100px;
	left: 25%;
	top: 0%;
	width: 50%;
	height: 50%;
	overflow: visible;
	background-color: none;
}*/

.video-content{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;

}

.modal-video video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

div.image {
	display: none;
	position: fixed;
	z-index: 10001;
	padding: 10%;
	overflow: visible;
	background-color: none;
}

div.modal-image {
	display: flex;
	justify-content: center;
	align-items:center;
	/*margin-left: auto;
	margin-right: auto;
	width: 50%;*/
}

.thumbnail-container {
	cursor: pointer;
	transition: box-shadow 0.3s;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

	.thumbnail-container:hover {
		box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
	}

.img-fluid {
	vertical-align: bottom;
}

.img-fluid-opacity-50{
	opacity: 0.25;
}
/*For any notes on the sample page*/
div.note {
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
}

.activity-paragraph{
margin-bottom:10px;
margin-top:10px;
font-weight:400;
}

ul.note-list {
	list-style-type: circle;
	padding-left: 20px;
	line-height: 1.5em;
}

div.activity-text {
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
	margin-left: 10px;
}

.glance-title {
	font-size: 2.5em;
	color: #9d4040;
	width: 100%;
	@media screen and (max-width: 800px) {
		font-size: 125%;
	}
}

.glance-info {
	position: relative;
	text-align: left;
	color: white;
	max-width: 100%;
	font-size: 80%;
}

	
.glance-centered {
	position: absolute;
	top: 35%;
	left: 25%;
	transform: translate(-25%, -50%);
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
}

.glance-body {
	font-weight: 600;
	padding: 10px;
	color:black;

}

.glance-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #333333;
	font-weight: 400;
}

.glance-text:first-child {
		display: inline;
	}

.tip {
	border: 1px solid rgba(24%, 24%, 24%, 0.15);
	margin: 10px;
	padding: 10px;
	width:80%;
	box-shadow: 3px 3px 0px 0px rgba(52, 88, 77, 0.15);
}

.toc-h2 {
	padding-left: 0;
	margin-bottom: 5px;
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-weight:600;
}

.toc-h3 {
	list-style-type: none;
	padding-left: 5%;
	border-left: 1px solid lightgray;
	padding-bottom:10px;
	
}

.toc-h3 a {
color:#474646;
}


.google-slides-container {
position:relative;
width:100%;
padding-top: 60%;
overflow:hidden;

}

.google-slides-container iframe{
position:absolute;
top:0;
left:5%;
width:90%;
height:90%;
}