
.facet-outline {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-top: 20px;
}



.card {
	transition: box-shadow 0.3s;
	flex-basis: calc(50% - 10%);
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 5px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	max-width: 20vw;
	min-width: 260px;
	height: 50vh;
}

	.card:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	.card img {
		max-width: 95%;
		height: auto;
		object-fit: cover;
		border-radius: 5px;
	}

	.card h5 {
		width: 90%;
		position: absolute;
		text-align: left;
		top: 10%;
		left: 10%;
		transform: translate(-5%, -5%);
		background-color: rgba(94%, 97%, 100%, 0.60);
		font-size: 1.5rem;

		@media screen and (max-width: 1280px) {
			font-size: 125%;
		}
	}


.card-body {
	overflow: hidden;
}

.card-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 8;
	overflow: hidden;
	text-overflow: ellipsis;
}
	.card p {
		margin-bottom: 10px;
		color: #1a1a1a;
	}

	.card .info {
		position: relative;
		text-align: center;
		color: darkred;
	}

		.card .info p {
			margin-right: 10px;
		}

.facet-title {
	font-size: 110%;
	font-weight: bold;
}

.project-description{
	font-size: 1.2em;
	font-weight: normal;
}

