

/* Base styles for mobile devices */
.container {
	display: block;
	width: 100%;
	padding: 0 10px;
}

.sidebar {
	width: 100%;
	padding: 10px;
	background-color: #f1f1f1;
	margin-bottom:20px;
}

.main{
	width: 100%;
	background-color: white;
	padding: 0;

}

.toc-h2, .toc-h3 {
	padding-left: 0;
	list-style-type: none;
}

.toc-h2 {
	margin-top:5px;
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-weight: 600;
}
	.toc-h3 a {
		color: #474646;
		padding-left:10px;
	}


.row .col-4,
.row .col-5,
.row .col-6 {
	flex: 0 0 100%;
	max-width: 100%;
}


.glance-text, .glance-title, .glance-subtitle {
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* Consolidated glance components */
.banner-container {
	position:relative;
	display:inline-block;
	width: 100%;
	display: block;
}

.glance-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	padding: 0px;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	
}

.glance-title-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(2px);
}


.banner-img {
	opacity:.6;
	width: 100%;
	display: block;
	height: auto;
}


.glance-title {
	font-size: 1.2rem;
	color: #9d4040;
	padding: 10px 20px 5px 20px;
}

.glance-subtitle {
	font-size: 1rem;
	color: #333333;
	padding: 5px 20px 10px 20px;
}



.glance-meta {
	font-size: 10pt;
	margin-top: auto;
	align-self: flex-end;
	background: radial-gradient(rgba(255, 255, 255, .7),rgba(245, 245, 245, .10));
	backdrop-filter: blur(1px);
	color: rgba(51, 51, 51, 0.77);
	padding:5px;
}


.activity {
	border: 1px solid #ddd;
	margin-left: 0px;
	border-radius: 4px;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.activity-title {
	padding: 15px;
	font-weight: bold;
	background-color: rgba(52, 88, 77, 0.20);
	border-bottom: 1px solid rgba(52, 88, 77, 0.60);
	font-size: 1.25em;
	margin: 0px 0px 0px 0px;
}

.activity-subtitle {
	font-size: 1.1em;
	font-weight: 400;
	padding: 10px 10px 10px 50px;
	background-color: rgba(52, 88, 77, 0.10);
}

.activity-section {
	padding: 0px 0px 30px 0px;
}

.activity-instructions-title {
	padding: 15px 0px 0px 15px;
	font-weight: bold;
	margin-left: 0px;
}

.activity-instructions {
	padding: 15px;
	font-weight: 400;
	line-height: 1.5em;
}

	.activity-instructions p {
		margin-bottom: 1em;
	}

		.activity-instructions p:last-of-type {
			margin-bottom: 0em;
		}

.activity-comment {
	padding: 15px;
	font-weight: 600;
	line-height: 1.5em;
	color:red;
}

.activity-comment-cleared {
	
	padding: 15px;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.5em;
	color: green;
}

:root {
	--list-margin-left: 30px;
	--list-padding: 15px;
	--list-font-weight: 400;
	--list-line-height: 1.5em;
}

ol.activity-list, ol.activity-list-alpha, .activity-list-unordered, .activity-list-unordered-blank, .activity-list-unordered-note {
	margin-left: var(--list-margin-left);
	padding: var(--list-padding);
	font-weight: var(--list-font-weight);
	line-height: var(--list-line-height);
	list-style-position: outside;
}

ol.activity-list {
	list-style-type: decimal;
	counter-reset: item;
}

.activity-list li {
	counter-increment: item;
}

	.activity-list li p:not(:last-child), .activity-list-unordered-blank li {
		margin-bottom: 1em;
	}

ol.activity-list-alpha {
	list-style-type: lower-alpha;
	padding-top: 0;
}

.activity-list li:before {
	content: counters(item ". ") ". ";
	display: inline-block;
}

.activity-list-unordered {
	list-style-type: circle;
}

.activity-list-unordered-blank {
	list-style-type: none;
}

.activity-list-unordered-arrow {
	list-style-type: none;
	padding-left:20px;
}

	.activity-list-unordered-arrow li:before {
		content: "\F138";
		font-family: "bootstrap-icons";
		margin-right: 5px;
		vertical-align: middle;
	}

	.activity-list-unordered-arrow ul > li:before {
		display: none;
	}

.activity-list-unordered-2col {
	display: flex;
	width: 60%;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;
	margin-left:20px;
}

	.activity-list-unordered-2col li {
		flex: 0 0 50%;
		box-sizing: border-box;
		padding: 5px;
	}

.activity-list-unordered-note {
	list-style-type: circle;
	padding-top:0px;
	padding-bottom:0px;

}



.activity-quote {
	padding: 15px;
}

.activity-image {
	margin: 15px;
}

.activity-video {
	margin: 15px;
}

	.activity-video video {
		max-width: 100%;
		vertical-align: bottom;
	}

.activity-video-caption {
	font-weight: 400;
	font-size: 80%;
	color: rgba(0,0,0,0.8);
}

.activity-image-caption {
	font-size: 80%;
	color: rgba(0,0,0,0.8);
}

.activity-resource-list {
	list-style-type: circle;
	list-style-position: outside;
	padding: 15px;
	line-height: 1.5em;
}

.blockquote:before {
	position: absolute;
	left: 5%;
	top: 15%;
	content: "“";
	font-size: 500%;
	color: rgba(0,0,0,0.1);
}


.bi::before {
	padding-right: 0.5em;
}



.modal-header {
	font-size: 1.1em;
	font-weight: 600;
}

.modal-footer {
	font-size: 0.9em;
	font-weight: 300;
}

.video-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.modal-video video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

div.image {
	display: none;
	position: fixed;
	z-index: 10001;
	padding: 10%;
	overflow: visible;
	background-color: none;
}

div.modal-image {
	display: flex;
	justify-content: center;
	align-items: center;
}


	div.modal-image img {
		max-height: 65vh;
		object-fit: contain;
		width: auto;
	}

	div.modal-image:hover {
		cursor: zoom-in;
	}


.zoomed-in {
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: zoom-out;
	z-index: 1050;
}

.thumbnail-container {
	cursor: pointer;
	transition: box-shadow 0.3s;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
	width: fit-content;
}

	.thumbnail-container:hover {
		box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
	}

	.thumbnail-container img {
		display: block;
	}

.image-description {
	margin-bottom: 10px;
	font-size: 1.1em;
}


.carousel-preview {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
gap: 10px; 
padding: 10px;
}

.carousel-thumbnail {
	flex: 0 0 auto;
	max-width: calc(50% - 10px);  
margin-bottom: 10px;
}

	.carousel-thumbnail img {
		width: 100%;  
height: auto; 
}

		.carousel-thumbnail img:hover {
			cursor: pointer;
		}

.carousel-image-description {
	margin-bottom: 10px;
	font-size: 1.1em;
}



.carousel-item {
	text-align: center; 
}

	.carousel-item img {
		height: 100%; 
		width: auto; 
		object-fit: contain; 
		margin: auto; 
		max-height:65vh;
	}

.carousel-indicators li {
	filter: drop-shadow(0 0 2px #313131);
}


.carousel-control-prev, .carousel-control-next {
	filter: drop-shadow(0 0 1px #313131);
}






.tip {
	border: 1px solid rgba(24%, 24%, 24%, 0.15);
	margin: 10px;
	padding: 10px;
	width: 95%;
	box-shadow: 3px 3px 0px 0px rgba(52, 88, 77, 0.15);
}

	.tip p{
	margin-bottom:1em;
	}
	
	
	.tip p:last-of-type {
	margin-bottom:0em;
	}

		.tip p:first-of-type {
			font-weight: 600;
			font-size: 1em;
		}

.activity-section div.google-slides-container {
	position: relative;
	width: 100%;
	padding-top: 60%;
	overflow: hidden;
}

	div.google-slides-container iframe {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
		height: 90%;
	}

.blue-node {
	height: 1em;
	width: 1em;
	border: 2px solid white;
	background-color: rgb(51, 102, 204);
	opacity: 1;
	display: inline-block;
	vertical-align: text-bottom;
}

.green-circle {
	height: 1em;
	width: 1em;
	border: 2px solid white;
	background-color: green;
	opacity: 1;
	display: inline-block;
	vertical-align: text-bottom;
	border-radius: 50%;
}
  
.line {
	width: 1em;
	display: inline-block;
	vertical-align: middle;
}

 
.black-line, .red-line, .red-line-dashed, .red-line-overlay {
	border-bottom-width: 2px;
}

.black-line {
	border-bottom-style: solid;
	border-bottom-color: #888;
}

.red-line {
	border-bottom-style: solid;
	border-bottom-color: red;
}

.red-line-dashed {
	border-bottom-style: dashed;
	border-bottom-color: red;
}

.red-line-overlay {
	border-bottom-style: dashed;
	border-bottom-color: #888;
	background-color: red;
}


[class*="-line"] {
	width: 1em;
	display: inline-block;
	vertical-align: middle;
}

.novel {
	font-style: italic;
}

.short_story {
	quotes: "\201c" "\201d";
}

	.short_story::before {
		content: open-quote;
	}

	.short_story::after {
		content: close-quote;
	}



/* Media query for tablets and above */
@media screen and (min-width: 768px) {
	.container {
		display: flex;
		flex-direction: row;
		padding: 0;
	}

	.sidebar {
		width: 25%;
		padding: 20px;
		margin-bottom:0;
	}

	.main {
		width: 75%;
		background-color: white;
		padding: 0 20px;
	}





	.toc-h2 {
		margin-bottom: 5px;
		font-weight: 600;
	}

	.toc-h3 {
		padding-left: 5%;
		border-left: 1px solid lightgray;
		padding-bottom: 10px;
	}

	.glance-text {
		border-bottom: 1px solid rgba(24%, 24%, 24%, 0.15);
	}

	/* Adjust glance components for larger screens */
	.glance-overlay {
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		bottom: 0;
		justify-content: space-between;
	}

	.glance-title {
		font-size: 1.5rem;
		color: #9d4040;
	}

	.glance-subtitle {
		font-size: 1.1rem;
		color: #333333;
	}



}

@media screen and (min-width: 1201px){


	.row .col-4 {
		flex: 0 0 33.333333%; /* 4/12th of the container width */
		max-width: 33.333333%;
	}

	.row .col-5 {
		flex: 0 0 41.666667%; /* 5/12th of the container width */
		max-width: 41.666667%;
	}

	.row .col-6 {
		flex: 0 0 50%; /* 6/12th of the container width */
		max-width: 50%;
	}


	.glance-title {
		font-size: 2rem;
		color: #9d4040;
	}

	.glance-subtitle {
		font-size: 1.5rem;
		color: #333333;
	}


}

@media screen and (min-width: 1921px) {

	.glance-title {
		font-size: 2.5rem;
		color: #9d4040;
	}

	.glance-subtitle {
		font-size: 2rem;
		color: #333333;
	}
}

@media print {
	/* Adjust the body */
	
	@page{
	margin-top:20mm;
	}
	
	body {
		
		font-size: 12pt;
		color: black;
		background: white;
	}
	.content, .main {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	img, .activity-image-caption {
		width: 50%;
		height: auto;
		page-break-inside: avoid;
		display: block; 
		margin-left: auto; 
		margin-right: auto;
	}

	/* Hide elements that are not necessary for the print version */
	.navbar, .footer, .sidebar, #page_header, #TableOfContents, .banner-img, .glance-info img,.glance-text, .blockquote,.activity-video {
		display: none;
	}
	.glance-overlay {
		position: relative;
	}
	.glance-title-container {
		position: relative;
	}
	
	.glance-title, .glance-subtitle, .glance-meta {
	color:black;
	margin-bottom:10pt;
	padding:0;
	}
	.glance-title{
	font-size:24pt;
	}
	.glance-subtitle {
		font-size: 16pt;
	}
	.glance-meta {
		backdrop-filter: none;
		background: none;
		align-self: flex-start;
		font-size: 12pt;
	}
	.activity {
		border: none;
		page-break-after: auto;
	}
	h1, h2, h3, h4, h5, h6, div.activity-instructions-title {
		page-break-after: avoid;
	}
	
		ol > li, ul {
			page-break-inside: avoid;
		}
}